body{
	margin: 0;
	padding: 0;
    height:100%;
    font-family: Roboto;

}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    background: #eeeeee /* force the BODY element to match the height of the HTML element */
}
hr{
  opacity: 0.1;
  margin: 0px 0px;
  border: 0.5px solid rgb(115, 135, 156);
}
.redactorText{
	margin: 10px;
	font-family: Roboto;
	font-size: 16px;
	outline: none;
	border: 0px dashed rgba(0,0,0,0.2);
	border-radius: 8px;
	resize: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.paragraphSettings{
	position: fixed;
}

.pMenu{
	display: inline-block;
	position: absolute;
	right: -25px;
	opacity: 0.3
}
.Code{
	margin: 0;
}
.iconCreate{
	width: 50px !important;
	height: 50px !important;
}

.shellIconCreate{
	display: inline-block;
	margin: 20px;
	opacity: 1;
	max-width: 130px;
	cursor: pointer;
	transition: opacity 0.25s ease-in-out;
	text-align: center
}
.shellIconCreate:hover{
	opacity: 0.6
}
.shellIconCreate:active{
	opacity: 0.3
}
.CodeShell{
	display: inline-block;
	width: 100%;
}
@media (max-width: 1600px) {


}
@media (max-width: 996px) {




}
@media (max-width: 766px) {


}
@media (max-width: 459px) {




}
@media (max-width: 325px) {
	}