body{
	margin: 0;
	padding: 0;
    height:100%;
    font-family: Roboto;

}
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
    background: #eeeeee /* force the BODY element to match the height of the HTML element */
}
hr{
  opacity: 0.1;
  margin: 0px 0px;
  border: 0.5px solid rgb(115, 135, 156);
}
.redactorText{
	margin: 10px;
	font-family: Roboto;
	font-size: 16px;
	outline: none;
	border: 0px dashed rgba(0,0,0,0.2);
	border-radius: 8px;
	resize: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.redactorTextLi{
	margin: 1px;
	font-family: Roboto;
	font-size: 16px;
	outline: none;
	border: 0px dashed rgba(0,0,0,0.2);
	border-radius: 8px;
	resize: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    top: -15px;
}
.paragraphSettings{
	position: fixed;
}

.pMenu{
	display: inline-block;
	position: absolute;
	right: -25px;
	opacity: 0.3;
	z-index: 99
}
.Code{
	margin: 0;
}
.iconCreate{
	width: 50px !important;
	height: 50px !important;
}

.shellIconCreate{
	display: inline-block;
	margin: 20px;
	opacity: 1;
	max-width: 130px;
	cursor: pointer;
	transition: opacity 0.25s ease-in-out;
	text-align: center
}
.shellIconCreate:hover{
	opacity: 0.6
}
.shellIconCreate:active{
	opacity: 0.3
}
.CodeShell{
	display: inline-block;
	width: 100%;
}
.upload{
	width: 200px;
}
.coub{
	width: 130px;
	max-height: 130px;
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
}
.coub-inside{
		opacity: 1;
	transition: opacity 0.5s;
}
.coub-inside:hover{
	opacity: 0.7
}
.DownCountSubject{
	color: #fff;
	padding-left: 10px; 
	width: 100px
}
.paper{
	margin: 10px auto;
	max-width: 100%;
}
.subjectLine{
	padding: 10px;
	overflow-x: auto;
	overflow-y: hidden;
	max-height: 200px;
	white-space: nowrap;
	padding-top: 10px;
}
.DropZone{
	text-align: center;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.5s
}
.DropZone:hover{
	opacity: 0.7
}
.menuInImage{
	display: inline-block;
    position: relative;
    right: 30px;
    bottom: 78px;
    opacity: 0.7;
}
.bottomNavigation{
	position: fixed !important;
	bottom: 0px !important;
	text-align: center;
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3)
}
.choose-modal{
	min-height: 500px;
	max-height: 520px !important;
	margin-top: 1px !important;
}
@media (max-width: 1600px) {


}
@media (max-width: 996px) {




}
@media (max-width: 766px) {


}
@media (max-width: 459px) {




}
@media (max-width: 325px) {
	}